.container {
    position: relative;
    height: 100vh;
    // background-color: tomato;
  }
  
  .LoginCard {
    display: block;
    width: 300px;
    font-size: 16px;
    padding: 1em;
    border: 1px solid lightgray;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  
    &-header {
      text-align: center;
    }
  
    &-footer {
      padding-top: 0.5em;
      text-align: right;
    }
  
    &-image {
      width: 2em;
      // box-shadow: 0 2px 4px gray;
      filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.3));
    }
  
    &-button {
      border: 1px solid rgba(0, 0, 0, 0.05);
      line-height: 1.5em;
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 3px;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: rgba(0, 0, 0, 0.1);
      }
    }
  
    &-inputContainer {
      width: 100%;
      display: inline-block;
      position: relative;
      padding: 1em 0 0.8em 0;
    }
  
    &-mobileLabel {
      position: absolute;
      font-weight: 200;
      transition: all 0.2s linear;
      top: 1.5em;
      left: 0.5em;
      color: gray;
    }
  
    &-input {
      display: inline-block;
      width: calc(100% - 1em);
      border-radius: 4px;
      border: none;
      box-shadow: 0 1px 2px lightgray;
      padding: 0.5em 0.5em 0.3em 0.5em;
      outline: none;
  
      &:focus {
        border-bottom: 1px solid black;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &::placeholder {
        color: white;
        // color: gray;
      }
      &:focus::placeholder {
        color: lightgray;
      }
    }
  
    &-input.focus ~ &-mobileLabel {
      font-size: 0.8em;
      font-weight: normal;
      top: 0;
      left: 0;
    }
  }
  
  .PassScore {
    position: relative;
    width: 100%;
    &-message {
      color: lightgray;
      font-size: 0.7em;
      margin-top: 0.3em;
      text-align: center;
    }
    &-value {
      height: 3px;
      transition: all 0.2s linear;
      width: 0;
      &.is0 {
        background-color: tomato;
        width: 20%;
      }
      &.is1 {
        background-color: orange;
        width: 40%;
      }
      &.is2 {
        background-color: orange;
        width: 60%;
      }
      &.is3 {
        background-color: wheat;
        width: 80%;
      }
      &.is4 {
        background-color: green;
        width: 100%;
      }
    }
  }
  